#buscador {
  width: 95%;
  margin: 5px 0px 5px 0px;
  height: 20%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#buscador > * {
  width: 18%;
}
#buscador * {
  margin: 1;
}
#buscador > *  input {
  width: 100%;
}
#buscador > * select {
  width: 100%;
}
#div_tickets {
  width: 100%;
  overflow-y: scroll;
  margin: 5px 0px 5px 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tickets {
  width: 90%;
  border-collapse: collapse;
}
