.menu{
  width: 100%;
  height: 10%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.menu > * {
  flex: 1;
}
.menu .ver_usuario {
  background: rgb(70,120,120);
}

a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

button.logout {
  width: 100%;
  height: 100%;
}
