#listaTickets {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
  width: 100%;
}

#listaTickets .ticket {
  width: 40%;
  height: 350px;
  background: rgba(255,255,255,0.4);
  border: 1px solid grey;
  margin: 4px;
  margin-left: 35px;
  padding: 4px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
}

#listaTickets .ticket:nth-child(1){
  margin-left: 4px;
  height: 700px;
}

#listaTickets .ticket .cuerpo {
  width: 99%;
  margin: 0px;
  padding: 0px;
  height: 300px;
  overflow-y: scroll;
}

#listaTickets .ticket:nth-child(1) .cuerpo {
  height: 500px;
}

#listaTickets .ticket .taglist .tag {
  width: 5em;
  overflow-wrap: anywhere;
  word-break: break-all;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  height: 2em;
  overflow-y: scroll;
  vertical-align: middle;
  display: inline-block;
}
#listaTickets .ticket .taglist > *:last-of-type [contenteditable]{
  background: rgb(56,70,60);
}

#listaTickets .ticket .acciones > * {
  float: left;
  width: 15%;
  overflow-wrap: anywhere;
  word-break: break-all;
}

#listaTickets .ticket .colorpicker {
  padding: 0px;
  width: 1em;
  height: 0.85em;
}

#listaTickets .archivo {
  max-width: 9em;
  max-height: 5em;
  float: left;
  overflow-wrap: anywhere;
  word-break: break-all;
  overflow-y: scroll;
}
#listaTickets .archivo > a{
  max-width: 8em;
}

#listaTickets .cabecera_ticket {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#listaTickets .cabecera_ticket > * {
  width: 80%;
  text-align: left;
  overflow-wrap: anywhere;
  word-break: break-all;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  padding-right: 1em;
}
#listaTickets .cabecera_ticket > *:nth-child(1) {
  width: 15%;
  text-align: right;
}
