
.searcher {
  width: 95%;
  margin: 5px 0px 5px 0px;
}
.searcher * {
  margin: 1;
}
.searcher input {
  width: 100%;
}
.searcher select {
  width: 100%;
}

.searcher > .title {
  width: 100%;
  height: 10%;
  font-size: 1.2em;
  cursor: pointer;
}

.searcher > .attrs {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.searcher > .attrs > * {
  width: 18%;
}
.searcher:not([first_render]) {
  animation: maximize 0.1s linear;
}
@keyframes maximize {
  from { clip-path: polygon(0% 0%, 100% 0%, 100% 22%, 0% 22%); }
  to   { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
}
.attrs-enter-from {
  /*delays the v-show=false (display: none) to show the inputs getting clipped*/
  animation: delay 0.1s linear;
}

.searcher[minimized]:not([first_render]) {
  animation: minimize 0.1s linear;
}
@keyframes minimize {
  from { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
  to   { clip-path: polygon(0% 0%, 100% 0%, 100% 22%, 0% 22%); }
}
.attrs-leave-active {
  animation: delay 0.1s linear;
}

@keyframes delay {
  from { display: block; }
  to   { display: none; }
}
