
.buscador {
  width: 95%;
  margin: 5px 0px 5px 0px;
}
.buscador * {
  margin: 1;
}
.buscador input {
  width: 100%;
}
.buscador select {
  width: 100%;
}

.buscador > .title {
  width: 100%;
  height: 10%;
  font-size: 1.2em;
  cursor: pointer;
}

.buscador > .attrs {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.buscador > .attrs > * {
  width: 18%;
}
.buscador:not([first_render]) {
  animation: maximizar 0.1s linear;
}
@keyframes maximizar {
  from { clip-path: polygon(0% 0%, 100% 0%, 100% 22%, 0% 22%); }
  to   { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
}
.attrs-enter-from {
  /*delays the v-show=false (display: none) to show the inputs getting clipped*/
  animation: delay 0.1s linear;
}

.buscador[minimizado]:not([first_render]) {
  animation: minimizar 0.1s linear;
}
@keyframes minimizar {
  from { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
  to   { clip-path: polygon(0% 0%, 100% 0%, 100% 22%, 0% 22%); }
}
.attrs-leave-active {
  animation: delay 0.1s linear;
}

@keyframes delay {
  from { display: block; }
  to   { display: none; }
}
